<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"> 
    <link rel="stylesheet" href="/styles/contact.css"> 
    <link rel="stylesheet" href="/styles/aboutUs.css">      <!-- stylesheet for page -->

    <!-- owlCarousel stylelink got it online -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" 
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" 
  integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jquery plugin -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <script src="/script.js"></script>
    
    <title>OdenUnlimited</title>
</head>

    <header>
        <div class="logo">
            logo here
        </div>

        <div class="navlinks">
            <ul id="menulist">
                <li><a href="/">Home</a> </li>
                <li><a href="#">Lounge</a> </li>
                <li><a href="#">Rooms</a> </li>
                <li><a href="#">GALLERY</a> </li>
                <li><a href="/aboutUs">about Us</a> </li>
                <li><a href="/contact">contact</a> </li>      
                <li> <button class="primary-btn">BOOK NOW</button> </li>
              </ul>
              <span class="fa fa-bars"></span>    
        </div>
</header>

<body>