*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1faee;
    color: black;
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}

/*--------header---------*/
header {
	display: flex;
    background-color: #90323d;
    width: 100%;
    height: 80px;
	padding: 0 10vw;
	align-items: center;
	justify-content: space-between;
  }
  
  header img {
	margin: 20px 0;
  }
  
  header ul {
	display: flex;
	gap: 2vw;
	height: 40px;
	align-items: center;

  }
  
  header ul li {
	display: inline-block;
	text-transform: uppercase;
  }
  
  header ul li a {
	color: #fff;
	margin: 0 10px;
	transition: 0.5s;
  }
  
  header ul li a:hover {
	color: #7fc142;
  }
  
  header i {
	margin: 0 20px;
  }
  
  header button {
	padding: 13px 40px;
  }
  
  header .navlinks span {
	display: none;
  }
  .primary-btn {
	padding: 15px 40px;
	background: #90323d;
	color: white;
	font-weight: bold;
	border: 2px solid white;
    cursor: pointer;
  }
  .primary-btn:hover{
	background: #37371f;
	color: white;
  }
  a {
	text-decoration: none;
  }  
  li {
	list-style: none;
  }

  /*--------Body---------*/

    main{
        width: 100%;
       
        padding: 5vh 10vw;
       
        /* background-color: ;  incase you wanna add colors to the body*/
    }

    section{
        display: flex;
        justify-content: space-between;
    }

    .bodyDiv-left{
      width: 45%;
    }
    .bodyDiv-right{
      width: 45%;
    }

    .texts{
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
    section > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .each-text-design{
      /* background: #90323d; */
      padding: 10px;
      border-radius: 10px;
    }


    footer {
      width: 100%;
      background: #37371f;
      color: #b6b7b9;
      padding: 5vw 10vw;
      }
      
      footer .grid {
      grid-template-columns: 4fr 4fr 4fr;
      }
    
      footer ul li a {
      color: #fff;
      margin: 0 10px;
      }
    
      footer ul li a:hover {
      color: #7fc142;
      }
      
      footer p {
      color: #b6b7b9;
      font-size: 15px;
      line-height: 25px;
      }
      
      footer h2 {
      color: #fff;
      margin-bottom: 10px;
      }
      
      footer li {
      margin-bottom: 20px;
      }
      
      footer i {
      color: #7fc142;
      margin: 20px 0;
      margin-right: 20px;
      }
      
      footer label {
      margin: 20px 0;
      }
    
    
      #open-menu{
      display: none;
      }
      #close-menu{
      display: none;
      }
     .scroll{
      overflow-y: hidden;
     }
  

    @media (max-width: 35rem){
      .navlinks{
        display: none;
      }
      #open-menu{
        display: block;
      }
    
      .header-nav-mobile{
          display: flex;
          flex-direction: row;
          width: 100%;
          padding: 0;
          justify-content: space-between;
        }
      .menu-items{
          display: none;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          justify-content: center;
          height: 100vh;  
      }
      .menu-drop-div{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 40px;
      }
  
      header {
        display: flex;
        flex-direction: column;
        background-color: #90323d;
        width: 100%;
        height: 60px;
        padding: 0 5vw;
        /* align-items: space-between; */
        justify-content: center;
        }
    
        .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        background-color: #37371f;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        }
        
        .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        }
        
        .sidenav a:hover {
        color: #7fc142;
        }
        
        #close-menu{
        position: absolute;
        top: 1.5rem;
        right: 20px;
        display: block;
        margin-left: 2.3rem;
        }
  
    
        main{
          width: 100%;  
          padding: 5vh 5vw;         
        }

        section{
          /* padding-top: 3vh; */
          display: flex;
          flex-direction: column;
          gap: 2rem;
          /* justify-content: space-between; */
        }
  
        .bodyDiv-left{
          width: 100%;
        }
        .bodyDiv-right{
          width: 100%;
        }
    
        /* footer section */
        .grid {
          display: flex;
          flex-direction: column;
          }


        footer {
        width: 100%;
       
        background: #37371f;
        color: #b6b7b9;
        padding: 5vw 5vw;
        }
    }
