*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: black;
}

/*--------header---------*/
header {
	display: flex;
    background-color: #90323d;
    width: 100%;
    height: 80px;
	padding: 0 10vw;
	align-items: center;
	justify-content: space-between;
  }
  
  header img {
	margin: 20px 0;
  }
  
  header ul {
	display: flex;
	gap: 2vw;
	height: 40px;
	align-items: center;

  }
  
  header ul li {
	display: inline-block;
	text-transform: uppercase;
  }
  
  header ul li a {
	color: #fff;
	margin: 0 10px;
	transition: 0.5s;
  }
  
  header ul li a:hover {
	color: #7fc142;
  }
  
  header i {
	margin: 0 20px;
  }
  
  header button {
	padding: 13px 40px;
  }
  
  header .navlinks span {
	display: none;
  }
  .primary-btn {
	padding: 15px 40px;
	background: #90323d;
	color: white;
	font-weight: bold;
	border: 2px solid white;
    cursor: pointer;
  }
  .primary-btn:hover{
	background: #37371f;
	color: white;
  }
  a {
	text-decoration: none;
  }  
  li {
	list-style: none;
  }

  /*--------Body---------*/

    main{
        width: 100%;
        height: 100vh;
        padding: 0 10vw;
        padding-top: 4vh;
        /* background-color: ;  incase you wanna add colors to the body*/
    }

    section{
        padding-top: 3vh;
    }
    .texts{
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
    section > div {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }
    .each-text-design{
      background: #90323d;
      padding: 10px;
      border-radius: 10px;
    }
    /* .each-text-design > h2{
      color: #7fc142;
    } */
