*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#F2E9E4 ;
}


header{
	display: flex;
    background-color: #AF1B3F;
    width: 100%;
    height: 80px;
	padding: 0 10vw;
	align-items: center;
	justify-content: space-between;
}
.head{
	display: flex;
    width: 40px;
    height: 40px;
}
.nav ul{
	display: flex;
	gap: 2vw;
}
.nav ul a{
    color: #fffdd0;
    /* color: #722f37; */
    /* margin: 20px; */
    font-size: 20px;
	text-decoration: none;
}


.container{
    padding: 2rem;
}

h1, h2{
    color:#9A8C98 ;
    font-weight: 300;
}

h1{
    border-bottom: 2px solid #4A4E69;
    width: fit-content;
    padding: 0 10px;
    margin-bottom: 2rem;
}

p{
    color: #22223B;
    margin: 10px 0;
    letter-spacing: 1px;
}

.info{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    width: 100%;
    margin: 2rem 0;
}

.direction,
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.hours{
    padding: 1rem;
}

.schedule{
    display: flex;
    justify-content: space-between;
}

.form{
    display:flex;
}

.contact-form{
    padding: 0 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-form .input-form{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
    outline: none;
}

.contact-form textarea{
    height: 50%;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 10px;
}

.contact-form button{
    color: #F2E9E4;
    background-color:#9A8C98;
    padding: 10px;
    width: fit-content;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 16px;
}