* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Poppins', sans-serif;
	background: hsl(0, 0%, 98%);
	color: black;
  }
  
  h1, h2 {
	font-family: sans-serif;
	font-weight: 400;
  }
  
  a {
	text-decoration: none;
  }
  
  li {
	list-style: none;
  }
  
  .flex {
	display: flex;
  }
  
  button {
	border: none;
	background: none;
	outline: none;
	transition: 0.5s;
	cursor: pointer;
  }
  
  .primary-btn {
	padding: 15px 40px;
	background: #90323d;
	color: white;
	font-weight: bold;
	border: 2px solid white;
  }
  .primary-btn:hover{
	background: #37371f;
	border: 2px solid #fccb06;
	color: white;
  }
  
  .secondary-btn {
	padding: 15px 40px;
	background: none;
	border: 2px solid white;
	font-weight: bold;
	color: white;
  }
  .secondary-btn:hover{
	background: black;
	
  }
  
  .bookings {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	padding: 0 10vw;
	width: 100%;
  }


  /*--------header---------*/
  header {
	display: flex;
    background-color: #90323d;
    width: 100%;
    height: 80px;
	padding: 0 10vw;
	align-items: center;
	justify-content: space-between;
  }
  
  header img {
	margin: 20px 0;
  }
  
  header ul {
	display: flex;
	gap: 2vw;
	height: 40px;
	align-items: center;

  }
  
  header ul li {
	display: inline-block;
	text-transform: uppercase;
  }
  
  header ul li a {
	color: #fff;
	margin: 0 10px;
	transition: 0.5s;
  }
  
  header ul li a:hover {
	color: #7fc142;
  }
  
  header i {
	margin: 0 20px;
  }
  
  header button {
	padding: 13px 40px;
  }
  
  header .navlinks span {
	display: none;
  }
  

/*--------home---------*/
/* home courusel */
.home {
	height: 100vh;
	z-index: 1;
	color: #fff;
  }
  
  .home img {
	width: 100%;
	height: 100vh;
  }
  
  .home .text {
	position: absolute;
	top: 35%;
	left: 5%;
  }
  
  .home .text h1 {
	font-size: 80px;
	font-family: serif;
	font-weight: 400;
  }
  
  .home p {
	margin: 20px 0;
  }
  
  .home button {
	margin-right: 20px;
  }
  
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
	position: absolute;
	top: 40%;
	height: 50px;
	width: 50px;
	background: rgba(0, 0, 0, 0.5) !important;
	color: #fff;
  }
  
  .owl-nav .owl-prev {
	left: 0;
  }
  
  .owl-nav .owl-next {
	right: 0;
  }
  
  /*--------home---------*/
/*--------book---------*/
.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
  }
  
  input {
	outline: none;
	border: none;
	width: 100%;
  }
  
  .book {
	padding: 40px 0;
	background: #90323d;
	border-bottom: 1px solid hsl(235, 19%, 35%);
	/* color: #fff; */
	text-decoration: solid;
  }
  
  h1 {
	font-family: serif;
  }
  
  .book h1 {
	font-size: 36px;
  }
  
  .book h1 span {
	color: #fccb06;
	font-size: 44px;
	font-weight: 800;
  }
  
  .book input {
	padding: 20px;
  }
  
  .book input:nth-last-child(1) {
	background: #37371f;
	color: #fff;
  }
  
 

  /* main{
	display: flex;
	flex-direction: column;
	gap: 10vh;
	width: 100%;
	padding: 5vh 10vw;
  } */
  
  .typeOfRooms{
	padding: 5vh 10vw;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid hsl(235, 19%, 35%);
  }
  .textsForRooms{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3vh;
	/* color: #fff; */
	line-height: 1.5rem;
  }
  .typeOfRooms-btn{
	padding: 15px 40px;
	background: #37371f;
	color: white;
	font-weight: bold;
  }
  .typeOfRooms-btn:hover{
	background: #90323d;
	border: 1px solid #fccb06;
  }


	/*--------footer---------*/
footer {
	width: 100%;
	background: #37371f;
	color: #b6b7b9;
	padding: 10px 0 5px 0;
  }
  
  footer .grid {
	grid-template-columns: 6fr 3fr 3fr;
  }
  
  footer p {
	color: #b6b7b9;
	font-size: 15px;
	line-height: 25px;
  }
  
 
  
  footer h2 {
	color: #fff;
	margin-bottom: 10px;
  }
  
  footer li {
	margin-bottom: 20px;
  }
  
  footer i {
	color: #7fc142;
	margin: 20px 0;
	margin-right: 20px;
  }
  
  footer label {
	margin: 20px 0;
  }
  
  .legal {
	padding: 15px 0;
	background: #282834;
	color: #b6b7b9;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  #open-menu{
	display: none;
  }
  #close-menu{
	display: none;
  }


 .scroll{
	overflow-y: hidden;
 }
  

@media (max-width: 35rem){
	.navlinks{
		display: none;
	}
	#open-menu{
		display: block;
	}
	/* #close-menu{
		display: none;
	} */

	.header-nav-mobile{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
        justify-content: space-between;
    }
	.menu-items{
        display: none;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        height: 100vh;  
    }
    .menu-drop-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

	header {
		display: flex;
		flex-direction: column;
		background-color: #90323d;
		width: 100%;
		height: 80px;
		padding: 0 5vw;
		/* align-items: space-between; */
		justify-content: center;
	  }

	  .sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 5;
		top: 0;
		right: 0;
		background-color: #37371f;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	  }
	  
	  .sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	  }
	  
	  .sidenav a:hover {
		color: #7fc142;
	  }
	  
	  #close-menu{
		position: absolute;
		top: 1.5rem;
		right: 20px;
		display: block;
		margin-left: 2.3rem;
	  }
}