* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Poppins', sans-serif;
	background: #90323d;
	color: white;
  }
  
  h1, h2 {
	font-family: sans-serif;
	font-weight: 400;
  }
  
  a {
	text-decoration: none;
  }
  
  li {
	list-style: none;
  }
  
  .flex {
	display: flex;
  }
  
  button {
	border: none;
	background: none;
	outline: none;
	transition: 0.5s;
	cursor: pointer;
  }
  
  .primary-btn {
	padding: 15px 40px;
	background: #90323d;
	color: white;
	font-weight: bold;
	border: 2px solid white;
  }
  .primary-btn:hover{
	background: #37371f;
	color: white;
  }
  
  .secondary-btn {
	padding: 15px 40px;
	background: none;
	border: 2px solid white;
	font-weight: bold;
	color: white;
  }
  .secondary-btn:hover{
	background: black;
	
  }
  
  .bookings {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	padding: 0 10vw;
	width: 100%;
  }


  /*--------header---------*/
  header {
	display: flex;
    background-color: #90323d;
    width: 100%;
    height: 80px;
	padding: 0 10vw;
	align-items: center;
	justify-content: space-between;
  }
  
  header img {
	margin: 20px 0;
  }
  
  header ul {
	display: flex;
	gap: 2vw;
	height: 40px;
	align-items: center;

  }
  
  header ul li {
	display: inline-block;
	text-transform: uppercase;
  }
  
  header ul li a {
	color: #fff;
	margin: 0 10px;
	transition: 0.5s;
  }
  
  header ul li a:hover {
	color: #7fc142;
  }
  
  header i {
	margin: 0 20px;
  }
  
  header button {
	padding: 13px 40px;
  }
  
  header .navlinks span {
	display: none;
  }
  

/*--------home---------*/
/* home courusel */
.home {
	height: 100vh;
	color: #fff;
  }
  
  .home img {
	width: 100%;
	height: 100vh;
  }
  
  .home .text {
	position: absolute;
	top: 35%;
	left: 5%;
  }
  
  .home .text h1 {
	font-size: 80px;
	font-family: serif;
	font-weight: 400;
  }
  
  .home p {
	margin: 20px 0;
  }
  
  .home button {
	margin-right: 20px;
  }
  
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
	position: absolute;
	top: 40%;
	height: 50px;
	width: 50px;
	background: rgba(0, 0, 0, 0.5) !important;
	color: #fff;
  }
  
  .owl-nav .owl-prev {
	left: 0;
  }
  
  .owl-nav .owl-next {
	right: 0;
  }
  
  /*--------home---------*/
/*--------book---------*/
.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
  }
  
  input {
	outline: none;
	border: none;
	width: 100%;
  }
  
  .book {
	padding: 40px 0;
	background: #90323d;
	color: #fff;
	text-decoration: solid;
  }
  
  h1 {
	font-family: serif;
  }
  
  .book h1 {
	font-size: 36px;
  }
  
  .book h1 span {
	color: #fccb06;
	font-size: 44px;
	font-weight: 800;
  }
  
  .book input {
	padding: 20px;
  }
  
  .book input:nth-last-child(1) {
	background: #37371f;
	color: #fff;
  }
  
 

  /* main{
	display: flex;
	flex-direction: column;
	gap: 10vh;
	width: 100%;
	padding: 5vh 10vw;
  } */
  
  .typeOfRooms{
	padding: 5vh 10vw;
	width: 100%;
	justify-content: space-between;
  }
  .textsForRooms{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3vh;
	color: #fff;
	line-height: 1.5rem;
  }
  .typeOfRooms-btn{
	padding: 15px 40px;
	background: #37371f;
	color: white;
	font-weight: bold;
  }
  .typeOfRooms-btn:hover{
	border: 2px solid #fccb06;
  }





  footer{
	background: #37371f;
	
	width: 100%;
	
	padding: 10vh 10vw;
  }