<%- include("partials/header.ejs") %>


 
     <main>
         <div>
            <h1 style="text-align: center;">WE ARE HERE FOR YOU</h1>
         </div>
         

         <!-- <br>  not really neccesary-->

         <section>
            <div class="" style="width: 45%; float: left;">   
                <div class="texts">
                    <h2>What's the deal with this store?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque similique recusandae exercitationem
                            architecto autem possimus repudiandae ab iste, aperiam dicta vel! Odit distinctio nobis quod reiciendis?
                            Quae optio illum repellat.
                    </p>
                </div>

                <div class="texts">
                    <h2>What's your privacy policy?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dolores tempora. Quae placeat itaque 
                        vero. Provident suscipit cumque aperiam sapiente natus asperiores veritatis voluptates distinctio nisi 
                        deleniti, minima quo esse!
                    </p>
                </div>

                <div class="texts">
                    <h2>What's your shipping policy?</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis delectus atque quaerat, asperiores 
                        consequuntur labore ducimus, minus quia
                            accusantium voluptates corporis exercitationem accusamus earum ratione qui possimus? 
                            Facere, neque quos.
                    </p>
                </div>

                <div class="texts">
                    <h2>Is it safe to put my credit card information into your website?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestias eius a repellendus
                        voluptates dolorum voluptatum ipsa asperiores, atque suscipit iusto. Eius soluta ex dignissimos
                        ratione. Nostrum, et? Aperiam, earum.</p>
                    </div>
             </div>
    
    
             <div style="width: 45%; float: right;">
    
                 <!-- <br>   is this a mistake? why multiple br. if its not a mistake then bring it back
                <br> -->
                 
                <div class="texts">
                    <h2>Size and specifications.</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum est porro reiciendis sequi illum,
                    landitiis eaque distinctio aspernatur nostrum animi illo omnis accusamus? Repudiandae dolorem eius 
                    autem quisquam! Soluta, nihil.</p>
                </div>

                <div class="texts">
                    <h2>What's your return policy?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolore excepturi voluptas laboriosam 
                    accusamus accusantium, quidem ad corporis 
                    commodi eaque enim dolores eveniet fugit veritatis perferendis! Alias perspiciatis recusandae sunt!</p>
                </div>        
             </div>
         </section>
         
     </main>   

        

       
       
     