
<%- include("partials/header.ejs") %>






    <section class="home">
      <div class="content">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="/img/banner-1.png" alt="">
            <div class="text">
              <h1>Enjoy Your Time Here</h1>
              <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid.</p>
              <div class="flex">
                <button class="primary-btn">READ MORE</button>
                <button class="secondary-btn">CONTACT US</button>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/img/banner-2.png" alt="">
            <div class="text">
              <h1>Enjoy Your Time Here</h1>
              <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid.
              </p>
              <div class="flex">
                <button class="primary-btn">READ MORE</button>
                <button class="secondary-btn">CONTACT US</button>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/img/banner-3.png" alt="">
            <div class="text">
              <h1>Enjoy Your Time Here</h1>
              <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid.
              </p>
              <div class="flex">
                <button class="primary-btn">READ MORE</button>
                <button class="secondary-btn">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




        
    
    <section class="book">
      <div class="bookings">
        <div class="text">
          <h1> <span>Book </span> Your Rooms </h1>
        </div>
        <div class="form">
          <form class="grid">
            <input type="date" placeholder="Arrival Date">
            <input type="date" placeholder="Departure Date">
            <input type="number" placeholder="Adults">
            <input type="number" placeholder="Children">
            <input type="submit" value="CHECK AVAILABILITY"> <!-- style this better. it does not look like a button -->
          </form>
        </div>
      </div>
    </section>
        


  
    <section class="flex typeOfRooms">
      <div class="textsForRooms" style="width: 45%; float: left;">
        <h2>Luxury redefined</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis libero sit amet enim pellentesque
           scelerisque. Integer lacinia malesuada egestas. Maecenas ac nisl turpis. Integer posuere, leo vitae
           faucibus, lorem est volutpat est.
        </p>
        <div><button class="typeOfRooms-btn">EXPLORE</button></div>  
      </div>

      <div class="" style="width: 45%; float: right;">
        <img height="300px" width="100%" src="/img/alexander-kaunas-xEaAoizNFV8-unsplash.jpg" alt="">
        <!--  when you have the pics to use reseize this -->
      </div>
    </section>

    <section class="flex typeOfRooms">
      <div class="textsForRooms" style="width: 45%; float: left;">
        <h2>Luxury redefined</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis libero sit amet enim pellentesque
           scelerisque. Integer lacinia malesuada egestas. Maecenas ac nisl turpis. Integer posuere, leo vitae
           faucibus, lorem est volutpat est.
        </p>
        <div><button class="typeOfRooms-btn">EXPLORE</button></div>  
      </div>

      <div class="" style="width: 45%; float: right;">
        <img height="300px" width="100%" src="/img/alexander-kaunas-xEaAoizNFV8-unsplash.jpg" alt="">
        <!--  when you have the pics to use reseize this -->
      </div>
    </section>

    <section class="flex typeOfRooms">
      <div class="textsForRooms" style="width: 45%; float: left;">
        <h2>Luxury redefined</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis libero sit amet enim pellentesque
           scelerisque. Integer lacinia malesuada egestas. Maecenas ac nisl turpis. Integer posuere, leo vitae
           faucibus, lorem est volutpat est.
        </p>
        <div><button class="typeOfRooms-btn">EXPLORE</button></div>  
      </div>

      <div class="" style="width: 45%; float: right;">
        <img height="300px" width="100%" src="/img/alexander-kaunas-xEaAoizNFV8-unsplash.jpg" alt="">
        <!--  when you have the pics to use reseize this -->
      </div>
    </section>

    <%- include("partials/footer.ejs") %>

   
