*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

main{
    width: 100%;
    
    padding: 0 10vw;
    padding-top: 4vh;
    padding-bottom: 20vh;
    /* background-color: ;  incase you wanna add colors to the body*/
}
header{
	display: flex;
    background-color: #90323d;
    width: 100%;
    height: 80px;
	padding: 0 10vw;
	align-items: center;
	justify-content: space-between;
}
.head{
	display: flex;
    width: 40px;
    height: 40px;
}
.nav ul{
	display: flex;
	gap: 2vw;
}
.nav ul a{
    color: #fffdd0;
    /* color: #722f37; */
    /* margin: 20px; */
    font-size: 20px;
	text-decoration: none;
}


section{
    padding-top: 3vh;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
section > div {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
/* .con3{
    width:100%;
    background-color:#fff;
} */

/* // all these on FAQ is not needed. use the header i created on the home page//  */

/* .faq{
    text-align: center;
    background-color: #722f37;
    width:500px;
    margin:auto;
    padding:10px;
    border-radius: 30px;
    font-size: 30px;
    float: left;
    color: white;
} */
/* .nav1{
    width:100%;
    text-align:center;
    background-color: #722f37;
    padding:20px;
   
}

.nav1 ul a{
    color:white;
    margin:20px;
    font-size:25px;
    text-decoration: none;
    font-family: cursive;
}
.nav1 ul a:hover{
    text-decoration: underline;
    color:white;
} */
